* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  border: 2px solid #FFA500;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #FFA500;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  border: 2px solid #FFA500;
  outline: 2px solid #FFA500;
  outline-offset: 2px;
  padding: 10px;
  margin-bottom: 50px;
}

.intro, .content {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 20px;
}

.initial {
  font-size: 40px;
  font-weight: 800;
  color: #B22222;
  float: left;
  line-height: 1;
  margin-right: 5px;
  position: relative;
  top: -15px;
}


.highlight {
  font-weight: bold;
  text-decoration: underline;
  color: #333;
}

.divider {
  background-color: #FFA500;
  color: white;
  text-align: right;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0;
}

.highlight-red {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.highlight-orange {
  color: #333;
  background-color: #FFA500;
  font-style: italic;
}
